#input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#input-label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text);
}

#input-wrapper {
    position: relative;
}

#input-wrapper input{
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
    border: 1px solid rgba(255,255,255,.1);
    background: var(--surface);
    color: var(--text);
    outline: none;
    transition: all .3s ease;
}
#input-wrapper input:hover,
#input-wrapper input:focus {
    box-shadow: 0 0 7px var(--neon);
}

/* ==========================================
   RESPONSIVE
========================================== */

/* Below 767px */
@media (max-width: 767px) {
    #input-group {
        width: 100%;
    }

    #input-wrapper {
        width: 100%;
    }

    #input-wrapper input {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}


/* Below 439px */
@media (max-width: 439px) {
    #input-label{
        font-size: 0.8rem;
    }
}