.modal-bg {


    position: fixed;

    inset: 0;

    background:
        rgba(0, 0, 0, .7);

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 999;


}



.delete-modal {


    background: #111;

    padding: 30px;

    border-radius: 20px;

    text-align: center;


}


.delete-modal button {


    margin: 10px;

    padding: 10px 25px;

    border: none;

    border-radius: 10px;

    cursor: pointer;


}