#allIntenrship-student-side-card {
    border-radius: 1.5rem;
    background: var(--surface);
    border: 1px solid var(--muted);
    cursor: pointer;
    transition: all .35s ease-in-out;
}

#allIntenrship-student-side-card:hover {
    border-color: var(--dark);
    box-shadow: 0 0 10px var(--neon);
}

#allIntenrship-student-side-card-banner {
    width: 100%;
    height: 140px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

#allIntenrship-student-side-card-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-size: cover;
    transition: all 0.3s ease-in;
}

#allIntenrship-student-side-card:hover img{
    transform: scale(1.02);
}

#allIntenrship-student-side-card-banner-text {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    padding: 0.5rem;
    background: var(--surface);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    color: var(--text);
    font-size: 1rem;
}

#allIntenrship-student-side-card-banner-text.enrolled {
    color: var(--success);
    text-shadow: 0 0 10px var(--success);
}

#internships-info {
    padding: 1rem;
}

#internships-info h3 {
    color: var(--glow);
    font-size: 1.5rem;
}

#internships-info p {
    color: var(--text);
    line-height: 1.7;
    margin-bottom: 1rem;
}

#internships-info p span{
    color: var(--neon);
    text-shadow: 0 0 10px var(--neon);
}

#internships-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#internships-meta p {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text);
    font-size: 14px;
}

#internships-meta p span {
    color: var(--golden);
    text-shadow: 0 0 10px var(--golden);
}

#internships-info button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    background: var(--neon);
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

#allIntenrship-student-side-card button:hover {
    box-shadow: 0 0 10px var(--neon);
    transform: translate(5px, -5px) !important;
}


/* ==========================================
   RESPONSIVE
========================================== */

@media (max-width: 439px){
    #welcomeCardMainCont{
        padding: 0.5rem;
        gap: 1rem;
    }

    #welcome-left{
        flex-direction: column;
        gap: 1rem;
    }
    #welcome-badge{
        margin-bottom: 0.5rem;
    }

    #welocomeContent h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    #welocomeContent h1 span{
        margin-top: 0;
    }
    #welocomeContent p{
        font-size: 0.8rem;
    }

    #welcome-btn{
        height: 35px;
        color: var(--dark);
        align-items: center;
        justify-content: space-between;
    }

    #welcome-right{
        flex-direction: column;
        gap: 1rem !important;
    }

}

@media (max-width: 756px) {
    #welcomeCardMainCont{
        padding: 1rem;
    }
    #welocomeContent h1{
        font-size: 2rem;
    }
}



@media (max-width: 1200px){
    #internships-info h3{
        font-size: 1.3rem;
    }

    #internships-info p{
        font-size: 0.9rem;
    }

    #internships-meta{
        flex-direction: column;
        gap: 0.5rem;
    }

    #internships-meta p {
        margin: 0;
    }
}