.internshipFormSkeleton {

    display: flex;

    flex-direction: column;

    gap: 2rem;

    width: 100%;
}


.internshipFormSkeletonHeader {

    display: flex;

    align-items: center;

    gap: 2rem;

}


.internshipFormSkeletonForm {

    display: flex;

    flex-direction: column;

    gap: 1rem;

}


.internshipFormSkeletonGroup {

    display: flex;

    flex-direction: column;

    gap: 8px;

}


/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width: 767px) {

    .internshipFormSkeletonHeader {

        gap: 1rem;

    }

    .internshipFormSkeletonHeader .skeleton:last-child {

        width: 180px !important;

    }

}


@media (max-width: 439px) {

    .internshipFormSkeletonHeader {

        gap: .8rem;

    }

    .internshipFormSkeletonHeader .skeleton:last-child {

        width: 150px !important;

    }

}