#adminWelcomeCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    padding: 1.8rem;
    margin-bottom: 1.8rem;
    border-radius: 22px;
    background: linear-gradient(135deg, #0f172a, #112240);
    border: 1px solid rgba(0, 255, 255, .18);
    overflow: hidden;
    position: relative;
}

#adminWelcomeCard::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background: rgba(0, 255, 255, .08);
    border-radius: 50%;
    right: -120px;
    top: -120px;
}

#adminWelcomeLeft {
    z-index: 2;
}

#adminWelcomeLeft h1 {
    color: var(--neon);
    text-shadow: 0 0 10px var(--neon);
    font-size: 2rem;
    margin-bottom: 10px;
}

#adminWelcomeLeft p {
    color: #bdbdbd;
    margin-bottom: 10px;
}

#adminWelcomeLeft span {
    color: cyan;
    font-size: 14px;
}

#adminWelcomeRight {
    display: flex;
    gap: 20px;
    z-index: 2;
}

#adminWelcomeMiniCard {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 18px;
    background: rgba(255, 255, 255, .05);
    border-radius: 15px;
    min-width: 170px;
    transition: .35s;
}

#adminWelcomeMiniCard:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 20px rgba(0, 255, 255, .2);
}

#adminWelcomeMiniCard svg {
    font-size: 34px;
    color: cyan;
}

#adminWelcomeMiniCard h3 {
    color: white;
    margin-bottom: 4px;
}

#adminWelcomeMiniCard p {
    color: #bdbdbd;
    font-size: 14px;
}

/* ==========================================
   RESPONSIVE
========================================== */

@media (max-width: 1200px) {
    #adminWelcomeCard{
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        margin-bottom: 1.3rem;
    }

    #adminWelcomeRight{
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 991px) {
    #adminWelcomeRight{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media (max-width: 439px) {
    #adminWelcomeCard{
        padding: 1rem;
        margin-bottom: 0.5rem;
    }
    #adminWelcomeRight{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}