#all-courses {
    margin-top: 2rem;
}



#course-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#course-heading h2 {
    font-size: 1.5rem;
    color: var(--neon);
    margin-left: 1rem;
}

#course-heading p {
    color: var(--muted);
}

#course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


/* ==========================================
   RESPONSIVE
========================================== */

@media (max-width: 439px){
    #course-heading h2{
        font-size: 1rem;
        margin-left: 0;
    }
    #course-heading p{
        font-size: 0.8rem;
    }

    #course-grid{
        grid-template-columns: 1fr !important;
        gap: 1rem !important;
    }

}


@media (max-width: 996px) {
    #course-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    
}