#approvedTasks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#approvedTasks h1{
    margin-left: 1rem;
    font-size: 1.7rem;
    color: var(--neon);
    position: relative;
}

#approvedTasks h1::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 150px;
    height: 3px;
    background-color: var(--glow);
    border-radius: 50%;
}

#approvedTasksNotify{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.approvedTasksNotifyList{
    background-color: var(--surface);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.recentSerielNum{
    color: var(--success);
    position: relative;
}

.recentSerielNum::after{
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    background-color: var(--neon);
    width: 2px;
    height: 100%;
    border-radius: 50%;
}

.approvedTasksNotifyContent{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.approvedTasksNotifyContent h3{
    font-size: 1.2rem;
}

.approvedTasksNotifyContent p{
    font-size: 0.9rem;
    color: var(--muted);
}