.attendanceSummary {

    background: #171b29;

    padding: 25px;

    border-radius: 20px;

    border: 1px solid rgba(0, 255, 255, .15);

    transition: .35s;

}

.attendanceSummary:hover {

    box-shadow: 0 0 25px rgba(0, 255, 255, .15);

}

.attendanceSummary h2 {

    color: white;

    margin-bottom: 20px;

}

.attendanceLegend {

    display: flex;

    justify-content: space-around;

    margin-top: 15px;

    color: #ddd;

    font-size: 14px;

    flex-wrap: wrap;

    gap: 10px;

}