#account-form-container {
  background: rgba(13, 27, 42, 0.6);
  border: 1px solid rgba(0, 240, 255, 0.2);
  backdrop-filter: blur(12px);
  padding: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: var(--text);
  margin-top: 0.8rem;
}

#form-section-title {
  color: var(--neon);
  font-size: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 240, 255, 0.2);
  padding-bottom: 0.5rem;
}

#form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

#form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#form-group label {
  font-size: 1rem;
  color: var(--text);
}

#form-group input,
#form-group select {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

#form-group select option {
  background-color: #0d1b2a;
  color: var(--text);
}

#form-group select option:hover{
  background-color: var(--neon) !important;
  color: var(--dark) !important;
}

#form-group select option:checked {
  background-color: var(--neon);
  color: var(--dark);
}

#form-group input:focus,
#form-group select:focus {
  border-color: #00f0ff;
  box-shadow: 0 0 10px rgba(0, 240, 255, 0.2);
}

#whatsapp-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

#whatsapp-link {
  font-size: 12px;
  color: #00ff66;
  text-decoration: none;
  background: rgba(0, 255, 102, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 255, 102, 0.3);
  white-space: nowrap;
}

#skills-input-container {
  display: flex;
  gap: 10px;
}

#add-skill-btn {
  background: #00f0ff;
  color: #000;
  border: none;
  padding: 0 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

#skills-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 8px;
}

#skill-tag {
  background: rgba(0, 240, 255, 0.1);
  border: 1px solid #00f0ff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

#skill-tag span {
  cursor: pointer;
  color: #ff3366;
}


#form-group textarea{
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  color: var(--text);
  margin: 0;

  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
  resize: none;
}

#submit-btn {
  background: linear-gradient(135deg, var(--neon) 0%, var(--glow) 100%);
  color: var(--dark);
  border: none;
  padding: 0.8rem 2rem;
  margin: 2rem auto 0 auto;
  display: block;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 240, 255, 0.4);
  transition: all 0.2s ease;
}

#submit-btn:hover {
  transform: translateY(-2px);
}