.admin-login-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.admin-error{
    color:red;
    font-size:14px;
    margin:10px 0;
    text-align:center;
}

#user-login-link{
    margin: 1rem auto;
    color: var(--muted);
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}

#user-login-link a {
    margin-left: 6px;
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}

#user-login-link a:hover {
    text-decoration: underline;
}