.internshipSkeletonGrid {

    display: grid;

    grid-template-columns:
        repeat(4,
            1fr);

    gap: 1rem;

    width: 100%;
}


.internshipSkeletonCard {

    background: var(--surface);

    padding: 20px;

    border-radius: 20px;

    display: flex;

    flex-direction: column;

    gap: 16px;

    border: 1px solid rgba(255, 255, 255, 0.06);

}


.internshipSkeletonDescription {

    display: flex;

    flex-direction: column;

    gap: 8px;

}


.internshipSkeletonMeta {

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 10px;

}


/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width: 1200px) {

    .internshipSkeletonGrid {

        grid-template-columns:
            repeat(3, 1fr);

    }

}


@media (max-width: 991px) {

    .internshipSkeletonGrid {

        grid-template-columns:
            repeat(2, 1fr);

    }

}


@media (max-width: 767px) {

    .internshipSkeletonGrid {

        grid-template-columns: 1fr;

    }

}