#section-header {
    width: 100%;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
}

#section-header span {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    border-radius: 3rem;
    background: rgba(37, 99, 235, .15);
    border: 1px solid rgba(37, 99, 235, .3);
    color: var(--neon);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
}

#section-header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#section-header p {
    color: var(--muted);
    margin: 0;
    font-size: 0.9rem;
}

@media(max-width: 439px) {
    #section-header{
        margin-bottom: 1rem;
    }
    #section-header h2 {
        font-size: 1.3rem;
    }
}

@media(min-width: 440px) and (max-width: 767px) {

    #section-header h2 {
        font-size: 1.5rem;
    }

    #section-header p {
        font-size: 1rem;
    }
}