/* FOOTER */
/* #dashboard-footer{
    background: var(--dark);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 0.85rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
} */

/* FOOTER */
.dashboard-footer {
    background: var(--dark);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-size: 0.85rem;
    border-top: 1px solid var(--glow);
    flex-shrink: 0;          /* Footer ku kebebi shrink ki dabijibaku daba nahi */
    z-index: 100;
}