/* ==========================================
   TEXTAREA
========================================== */

.textarea-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textarea-label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
}



.textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--surface);
  color: var(--text);
  font-size: 15px;
  line-height: 1.7;
  resize: none !important;
  outline: none;
  transition: all 0.3s ease;
}

.textarea:hover{
  box-shadow: 0 0 7px var(--neon);
}

.textarea::placeholder {
  color: var(--muted);
}

.textarea:focus {
  box-shadow: 0 0 10px var(--neon);
}

