.certificateAnalytics {

    background: #171b29;

    padding: 25px;

    border-radius: 20px;

    border: 1px solid rgba(0, 255, 255, .15);

}

.certificateAnalytics h2 {

    color: white;

    margin-bottom: 20px;

}

.certificateCards {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

}

.certificateCard {

    padding: 25px;

    background: #20263a;

    border-radius: 15px;

    text-align: center;

    transition: .35s;

}

.certificateCard:hover {

    transform: translateY(-6px);

    box-shadow: 0 0 25px rgba(0, 255, 255, .18);

}

.certificateCard svg {

    font-size: 45px;

    color: #00e5ff;

    margin-bottom: 15px;

}

.certificateCard h3 {

    font-size: 34px;

    color: white;

}

.certificateCard p {

    margin-top: 8px;

    color: #bdbdbd;

}

@media(max-width:700px) {

    .certificateCards {

        grid-template-columns: 1fr;

    }

}