#overViewRecentTasks {
    background: #171b29;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, .15);
}

#overViewRecentTasks h2 {
    color: white;
    margin-bottom: 20px;
}

#overViewRecentTasksCard {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    background: #20263a;
    border-radius: 15px;
    transition: .3s;
}

#overViewRecentTasksCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 255, 255, .15);
}

#overViewRecentTasksCard img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

#overViewRecentTasksInfo{
    flex: 1;
    margin-left: 15px;
}

#overViewRecentTasksInfo h3 {
    color: white;
    margin-bottom: 6px;
    font-size: 17px;
}

#overViewRecentTasksInfo p {
    color: #ddd;
    font-size: 14px;
}

#overViewRecentTasksInfo small {
    color: #8b8b8b;
}

#overViewRecentTasksRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

#overViewRecentTasksRight span {
    background: #00bcd4;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
}

#late {
    color: #ff5252;
    font-weight: bold;
}

#today {
    color: #ffd600;
    font-weight: bold;
}

#upcoming {
    color: #00e676;
    font-weight: bold;
}


@media (max-width: 439px) {
    #overViewRecentTasks h2{
        font-size: 1.3rem !important;
    }
}